header{
    background-color: black; 
     margin:0;
    width: 100%;
    height: 75px;
    color: white;
    padding: 20px;
    padding-top: 20px;
    font-size: 200%;
}
.highscore{
    font-size: 175%;
    position: absolute;
    margin-left: 20px;
}
nav{
    
   font-size: 175%;
   float: right;
   margin-right: 40px;
}
h1{
    text-align:left ;
    margin-left: 400px;
    margin-right: 250px;
    padding-top: 8%;
    padding-bottom: 30px;
}
.start{
    position: absolute;
    margin-left: 5%;
    font-size: 160%;
    margin-top: 150px;
    padding: 10px 20px;
    

}
.questonbx{
    align-items: center;
    margin-left: 35%;
    width: 400px;
}
.answer{
    margin-right: 150px;
    margin-top: 20px;
}
.score{
    margin-top: 135px;
 text-align: right;
 font-size: 160%;
 margin-right: 50px;
}
.form{
    text-align:center;
}